#Q1. **What are data structures, and why are they important?**

>Data structures are organized ways to store, manage, and retrieve data efficiently. Examples include lists, stacks, queues, trees, and dictionaries. They are important because they determine how efficiently a program can process data, affecting both performance and scalability

#Q2. **Explain the difference between mutable and immutable data types with examples.**

>Mutable data types can be changed after creation.

Example:

 my_list = [1, 2, 3]

 my_list[0] = 10  # List is mutable

>Immutable data types cannot be changed after creation.

Example:

my_tuple = (1, 2, 3)

my_tuple[0] = 10  # Error: Tuples are immutable

#Q3. **What are the main differences between lists and tuples in Python?**

>Lists: Mutable, slower, use more memory.

>Tuples: Immutable, faster, use less memory.

#Q4. **Describe how dictionaries store data.**
>Dictionaries store data in key-value pairs using a hash table. Each key is hashed to a specific index, allowing for fast lookups. Keys must be unique and immutable.

Example:

person = {"name": "Alice", "age": 25}

#Q5. **Why might you use a set instead of a list in Python?**
>Sets automatically remove duplicates and offer faster membership tests due to hashing


#Q6. **What is a string in Python, and how is it different from a list?**
>A string is an immutable sequence of characters.
A list is a mutable sequence of items.

Example:

s = "hello"     # Immutable
l = ['h', 'e']  # Mutable

#Q7. **How do tuples ensure data integrity in Python?**
>Tuples are immutable, so their content cannot be changed after creation. This protects the data from accidental modification and ensures consistency, especially when passing data between functions.

#Q8. **What is a hash table, and how does it relate to dictionaries in Python?**
>A hash table maps keys to values using a hash function. Python’s dictionaries are implemented as hash tables.

#Q9. **Can lists contain different data types in Python?**
>Yes, lists are heterogeneous,it can hold elements of different data types, like integers, strings, and even other lists.

Example:

mixed = [1, "hello", 3.14, True]

#Q10. **Explain why strings are immutable in Python.**
>Strings are immutable to improve performance, ensure security, and make them hashable for use as dictionary keys.

#Q11. **What advantages do dictionaries offer over lists for certain tasks?**
>Dictionaries allow faster lookup (O(1)) using keys, making them better for data retrieval based on unique identifiers.

#Q12. **Describe a scenario where using a tuple would be preferable over a list.**
>Use a tuple when:
You want to store fixed data, such as coordinates (x, y) or a date (day, month, year).
You want the data to be read-only and not modified.

#Q13. **How do sets handle duplicate values in Python?**
>Sets automatically eliminate duplicate values, ensuring each element is unique.

Example:

s = {1, 2, 2, 3}
print(s)  # Output: {1, 2, 3}

#Q14. **How does the “in” keyword work differently for lists and dictionaries?**

>List: Checks if a value exists.

>Dictionary: Checks if a key exists.

#Q15. **Can you modify the elements of a tuple? Explain why or why not.**
>No, tuples are immutable, so their elements cannot be changed after creation.

#Q16. **What is a nested dictionary, and give an example of its use case.**
>A nested dictionary is a dictionary within another dictionary.

Example:

students = {'John': {'age': 20, 'grade': 'A'}}


#Q17. **Describe the time complexity of accessing elements in a dictionary.**
>Accessing elements in a dictionary is generally O(1) due to the underlying hash table.

#Q18. **In what situations are lists preferred over dictionaries?**

>When data is ordered and indexed.

>When you only need sequential storage.

>When keys are not necessary.

#Q19. **Why are dictionaries considered unordered, and how does that affect data retrieval?**
>Before Python 3.7, dictionaries were unordered (no guarantee of key order).
>From Python 3.7+, they preserve insertion order, but data is still retrieved using keys, not position

#Q20. **Explain the difference between a list and a dictionary in terms of data retrieval.**

>List: Accessed by index (e.g., list[0]).

>Dictionary: Accessed by key (e.g., dict["name"]), allowing faster and more semantic lookups.

In [ ]:
# 1.Write a code to create a string with your name and print it.
Name_Str = "Md. Imtiyaz alam"
print(f"My name is : {Name_Str}")

My name is : Md. Imtiyaz alam

In [ ]:
# 2.Write a code to find the length of the string "Hello World".
Str1 = "Hello World"
print(f"Given string: {Str1}")
print(f"lenght of the string is: {len(Str1)}")  #length of the string

Given string: Hello World
lenght of the string is: 11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
Str2 = "paython Programming"
print(f"Given string: {Str2}")
print(f"first 3 character from the string are : {Str2[:3]}")

Given string: paython Programming
first 3 character from the string are : pay

In [ ]:
# 4. Write a code to convert the string "hello" to uppercase.
Str3 = "hello"
print(f"Given string: {Str3}")
print(f"Uppercase of string is: {Str3.upper()}")

Given string: hello
Uppercase of string is: HELLO

In [ ]:
# 5.Write a code to replace the word "apple" with "orange" in the string "I like apple".
Str4 = "I like apple"
print(f"Given string : {Str4}")
print(f"After replace word in the string : {Str4.replace("apple", "Orange")}")

Given string : I like apple
After replace word in the string : I like Orange

In [ ]:
# 6.Write a code to create a list with numbers 1 to 5 and print it.
Num = list(range(1,6))  # Range from 1-5
print(f"The range value from (1-5) is : {Num}")

#OR

Numbers = [Num1 for Num1 in range(1, 6)]
print(f"The range value from (1-5) is : {Numbers}")

The range value from (1-5) is : [1, 2, 3, 4, 5]
The range value from (1-5) is : [1, 2, 3, 4, 5]

In [ ]:
# 7.Write a code to append the number 10 to the list [1, 2, 3, 4].
My_list = [1,2,3,4]
print(f"Given list : {My_list}")
My_list.append(10)     # Append the number 10
print(f"After adding value in list : {My_list}")

Given list : [1, 2, 3, 4]
After adding value in list : [1, 2, 3, 4, 10]

In [ ]:
# 8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
My_list1 = [1,2,3,4,5]
print(f"Given list : {My_list1}")
My_list1.remove(3)     # remove the number 3
print(f"After remove 3 value in list : {My_list1}")

Given list : [1, 2, 3, 4, 5]
After remove 3 value in list : [1, 2, 4, 5]

In [ ]:
# 9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
My_list2 = ['a','b','c','d']
print(f"Given list : {My_list2}")
print(f"2nd index element from list is: {My_list2[1]}")  # accessing 2nd index element from list

Given list : ['a', 'b', 'c', 'd']
2nd index element from list is: b

In [ ]:
# 10.Write a code to reverse the list [10, 20, 30, 40, 50].
My_list3 = [10,20,30,40,50]
print(f"Given list : {My_list3}")
print(f"After reverse the list : {My_list3[::-1]}")  #reverse the list

Given list : [10, 20, 30, 40, 50]
After reverse the list : [50, 40, 30, 20, 10]

In [ ]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
My_element_value = 100,200,300
print("Given element is : ",100, 200, 300)
print(f"The tuple is: {My_element_value}")

Given element is :  100 200 300
The tuple is: (100, 200, 300)

In [ ]:
# 12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
color_tuple = ('red','greeen','blue','yellow')
print("Given tuple is : ",color_tuple)
print(f"2nd-to-last element of the tuple is: {color_tuple[1:]}")

Given tuple is :  ('red', 'greeen', 'blue', 'yellow')
2nd-to-last element of the tuple is: ('greeen', 'blue', 'yellow')

In [ ]:
# 13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
Num_tuple = (10,20,5,15)
print("Given tuple is : ",Num_tuple)
print(f"Minimum number in the tuple is: {min(Num_tuple)}")     #find the minimum number

Given tuple is :  (10, 20, 5, 15)
Minimum number in the tuple is: 5

In [ ]:
# 14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animal_tuple = ('dog','cat','rabbit')
print("Given tuple is : ",animal_tuple)
print(f"index of the 'cat' element in the tuple is: {animal_tuple.index('cat')}")

Given tuple is :  ('dog', 'cat', 'rabbit')
index of the 'cat' element in the tuple is: 1

In [ ]:
# 15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
Fruits_tuple = ('apply','banana','orange')
print("Given fruits are : ",Fruits_tuple)
check_kiwi = 'kiwi' in Fruits_tuple    #checking 'kiwi' exist or not
print("Is 'kiwi' in Fruits?: ", check_kiwi)

Given fruits are :  ('apply', 'banana', 'orange')
Is 'kiwi' in Fruits?:  False

In [ ]:
# 16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
My_element = 'a','b','c'
print("Given element : 'a','b','c'" )
print(f"The set is: {set(My_element)}")

Given element : 'a','b','c'
The set is: {'b', 'a', 'c'}

In [ ]:
# 17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
My_set = {1,2,3,4,5}
print("Given set:", My_set)
My_set.clear()           #clear all elements
print(f"After clear set: {My_set}")

Given set: {1, 2, 3, 4, 5}
After clear set: set()

In [ ]:
# 18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
My_set1 = {1,2,3,4}
print(f"Given list : {My_set1}")
My_set1.remove(4)     # remove the number 4
print(f"After remove 4 value in set : {My_set1}")

Given list : {1, 2, 3, 4}
After remove 4 value in set : {1, 2, 3}

In [ ]:
# 19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
My_set2 = {1,2,3}
My_set3 = {3,4,5}
print("Given sets are {1,2,3} and {3,4,5}")
print(f"Union of both set is : {My_set2 | My_set3}") # Union | combines elements from two sets exclusding duplicates

Given sets are {1,2,3} and {3,4,5}
Union of both set is : {1, 2, 3, 4, 5}

In [ ]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
My_set2 = {1,2,3}
My_set3 = {2,3,4}
print("Given sets are {1,2,3} and {2,3,4}")
print(f"Union of both set is : {My_set2 & My_set3}") # Intersection & gives only common element btw sets

Given sets are {1,2,3} and {2,3,4}
Union of both set is : {2, 3}

In [ ]:
# 21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it

My_Dictionary = {"name": "Md Imtiyaz Alam", "age": "28", "city": "Singrauli(MP)"}
print("My Dictionary is:", My_Dictionary)

My Dictionary is: {'name': 'Md Imtiyaz Alam', 'age': '28', 'city': 'Singrauli(MP)'}

In [ ]:
# 22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

My_Dictionary = {"name": "Md Imtiyaz Alam", "age": "28", "city": "Singrauli(MP)"}

My_Dictionary['country'] = 'India'       # add a new key value pair "country": "India" to the disctionary
print("My Dictionary is:", My_Dictionary)

My Dictionary is: {'name': 'Md Imtiyaz Alam', 'age': '28', 'city': 'Singrauli(MP)', 'country': 'India'}

In [ ]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

My_Dictionary1 = {'name': 'Md Imtiyaz Alam', 'age': '28', 'city': 'Singrauli(MP)', 'country': 'India'}
My_Dictionary_input = input("Enter the key from Dictionary like name, age, city, country: ")
if My_Dictionary_input in My_Dictionary1:
  print(f"Your {My_Dictionary_input} is :, {My_Dictionary1[My_Dictionary_input]}")
else:
  print("Key not found in the dictionary.")

Enter the key from Dictionary like name, age, city, country: name
Your name is :, Md Imtiyaz Alam

In [ ]:
# 24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
My_Dictionary2 = {'name':'Bob','age':'22','city':'new York'}
print("Given Dictionary is:", My_Dictionary2)
del My_Dictionary2['age']                              # Remove 'age' key from dictionary
print("after removing 'age' from dictionary:", My_Dictionary2)

Given Dictionary is: {'name': 'Bob', 'age': '22', 'city': 'new York'}
after removing 'age' from dictionary: {'name': 'Bob', 'city': 'new York'}

In [ ]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
My_Dictionary3 = {'name':'Alice','city':'paris'}
print("Given Dictionary is:", My_Dictionary3)
check_city = 'city' in My_Dictionary3               # checking 'city' is exist or not
print("Does 'city' exit in dictionary?:", check_city)

Given Dictionary is: {'name': 'Alice', 'city': 'paris'}
Does 'city' exit in dictionary?: True

In [ ]:
# 26.Write a code to create a list, a tuple, and a dictionary, and print them all
My_list4 = [1,2,3]
My_tuple4 = ('a','b','c')
My_Dict = {'name':'Md Imtiyaz alam','age':'28'}
print("The List is: ", My_list4 )
print("The tuple is: ", My_tuple4 )
print("The Dictionary is: ", My_Dict )

The List is:  [1, 2, 3]
The tuple is:  ('a', 'b', 'c')
The Dictionary is:  {'name': 'Md Imtiyaz alam', 'age': '28'}

In [ ]:
""" 27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
      result."""

import random    #import 'random' library
random_numbers = random.sample(range(1,101),5)
random_numbers.sort()                         #assending order
print("Sorted random numbers in assending order: ", random_numbers)

Sorted random numbers in assending order:  [23, 31, 52, 70, 91]

In [ ]:
# 28.Write a code to create a list with strings and print the element at the third index.
List_string = ['apply','banana','kiwi','cherry','orange','mango']
print("Given list of string is :",List_string)
print("Element at index 3 is: ", List_string[3])         #Element at index 3

Given list of string is : ['apply', 'banana', 'kiwi', 'cherry', 'orange', 'mango']
Element at index 3 is:  cherry

In [ ]:
# 29.Write a code to combine two dictionaries into one and print the result.
Dict1 = {'name': 'Md Imtiyaz Alam', 'age': '28'}
Dict2 = {'city': 'Singrauli(MP)', 'country': 'India'}
combined = {**Dict1, **Dict2}                      #combined Dictonary
print("Combined Dictonary is :", combined )

Combined Dictonary is : {'name': 'Md Imtiyaz Alam', 'age': '28', 'city': 'Singrauli(MP)', 'country': 'India'}

In [ ]:
# 30. Write a code to convert a list of strings into a set.
list_string1 = ['apply','banana','kiwi','cherry','orange','mango']
print("Given list of string is : ", list_string1)
set_string = set(list_string1)             #convert a list of string into a set
print("converted list into set: ", set_string)

Given list of string is :  ['apply', 'banana', 'kiwi', 'cherry', 'orange', 'mango']
converted list into set:  {'banana', 'mango', 'kiwi', 'cherry', 'orange', 'apply'}